{% load static %}

{% load static %}

<!DOCTYPE html>
<html lang="en">
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Gestion Admin{% endblock %}</title>

    <!-- BOOTSTRAP STYLES-->
    <link href="{% static 'assets/css/bootstrap.css' %}" rel="stylesheet" />
    <!-- FONTAWESOME STYLES-->
    <link href="{% static 'assets/css/font-awesome.css' %}" rel="stylesheet" />
    <!-- CUSTOM STYLES-->
    <link href="{% static 'assets/css/custom.css' %}" rel="stylesheet" />
    <!-- GOOGLE FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css" />
</head>


<body>
    <div id="wrapper">
        <!-- TOP NAVBAR -->
        <nav class="navbar navbar-default navbar-cls-top " role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'index' %}">Gestion Admin</a>
            </div>
            <div style="color: white; padding: 15px 50px 5px 50px; float: right; font-size: 16px;">
                Last access : 30 May 2025 &nbsp;
             </div>
        </nav>

        <!-- SIDE NAVIGATION -->
        <nav class="navbar-default navbar-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">
                    <li class="text-center">
                        <img src="{% static 'assets/img/find_user.png' %}" class="user-image img-responsive" />
                    </li>
                    <li>
                        <a href="{% url 'index' %}"><i class="fa fa-home fa-3x"></i> Accueil</a>
                    </li>
                    <li>
                        <a href="{% url 'employe_list' %}"><i class="fa fa-users fa-3x"></i> Liste des Employés</a>
                    </li>
                    <li>
                        <a href="{% url 'ajouter_employe' %}"><i class="fa fa-plus fa-3x"></i> Ajouter un Employé</a>
                    </li>
                    <li>
                        <a href="{% url 'historique_acces' %}"><i class="fa fa-clock-o fa-3x"></i> Historique d'accès</a>
                    </li>
                    
                </ul>
            </div>
        </nav>

        <!-- PAGE CONTENT -->
        <div id="page-wrapper">
            <div id="page-inner">
                {% block content %}
                <!-- Contenu spécifique à chaque page ici -->
                {% endblock %}
            </div>
        </div>
    </div>

    <!-- SCRIPTS -->
    <script src="{% static 'assets/js/jquery-1.10.2.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.metisMenu.js' %}"></script>
    <script src="{% static 'assets/js/custom.js' %}"></script>
    <script src="{% static 'assets/js/msg.js' %}"></script>
</body>
</html>