{% extends 'serveur/base.html' %}
{% load static %}
{% block title %}Liste des Employés{% endblock %}

{% block content %}
{% if messages %}
 <div class="container mt-3">
    {% for message in messages %}
      <div class="alert alert-{{ message.tags }}">
        {{ message }}
      </div>
    {% endfor %}
  </div>
{% endif %}
<div class="row">
    
    <div class="col-md-12">
        <h1 class="page-header">Liste des Employés</h1>

        <a href="{% url 'ajouter_employe' %}" class="btn btn-success mb-3">Ajouter un Employé</a>

        <div class="panel panel-default">
            <div class="panel-heading">
                Données des Employés
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                        <thead>
                            <tr>
                                <th>Nom</th>
                                <th>Matricule</th>
                                <th>Dernier accès</th>
                                <th>Actions</th>  
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in data %}
                            <tr>
                                <td>{{ item.nom }}</td>
                                <td>{{ item.matricule }}</td>
                                <td>
                                    {% if item.acceslog_set.all %}
                                        {{ item.acceslog_set.last.date_entree }}
                                    {% else %}
                                        Aucun accès
                                    {% endif %}
                                </td>
                                <td>
                                    <a href="{% url 'upload_image' item.id %}" class="btn btn-sm btn-info">Image</a>
                                    <a href="{% url 'modifier_employe' item.id %}" class="btn btn-sm btn-primary">✏ Modifier</a>
                                    <a href="{% url 'supprimer_employe' item.id %}" class="btn btn-sm btn-danger" onclick="return confirm('Supprimer ?');">🗑 Supprimer</a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}
