{% extends 'serveur/base.html' %}

{% block title %}Liste des Employés{% endblock %}

{% block content %}
<h1>Liste des Employés</h1>

<!-- Bouton pour ajouter un employé -->
<a href="{% url 'ajouter_employe' %}">
    <button>Ajouter un Employé</button>
</a>

<table border="1">
    <thead>
        <tr>
            <th>Nom</th>
            <th>Matricule</th>
            <th>Dernier accès</th>
            <th>Actions</th>  
        </tr>
    </thead>
    <tbody>
        {% for item in data %}
        <tr>
            <td>{{ item.nom }}</td>
            <td>{{ item.matricule }}</td>
            <td>
                {% if item.acceslog_set.all %}
                    {{ item.acceslog_set.last.date_entree }}
                {% else %}
                    Aucun accès
                {% endif %}
            </td>
            <td>
                <td>
                    <a href="{% url 'upload_image' item.id %}">Téléverser image</a> |
                    <a href="{% url 'modifier_employe' item.id %}">✏ Modifier</a> |
                    <a href="{% url 'supprimer_employe' item.id %}" onclick="return confirm('Supprimer ?');">🗑 Supprimer</a>
                </td>
                
            </td>
        </tr>
        {% endfor %}
    </tbody>
    
</table>
{% endblock %}
