{% extends 'serveur/base.html' %}

{% block title %}Page d'Accueil{% endblock %}

{% block content %}
{% if messages %}
 <div class="container mt-3">
    {% for message in messages %}
      <div class="alert alert-{{ message.tags }}">
        {{ message }}
      </div>
    {% endfor %}
  </div>
{% endif %}
<div class="container-fluid">
    <h1 class="page-header">Bienvenue sur l'application de gestion des employés</h1>

    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-primary">
                <div class="panel-heading">👥 Liste des Employés</div>
                <div class="panel-body text-center">
                    <p>Consulter et modifier les employés enregistrés.</p>
                    <a class="btn btn-primary" href="{% url 'employe_list' %}">Voir</a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="panel panel-success">
                <div class="panel-heading">🕒 Historique des Accès</div>
                <div class="panel-body text-center">
                    <p> Visualiser les derniers accès enregistrés par employé.  </p>
                    <a class="btn btn-success" href="{% url 'historique_acces' %}">Voir</a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="panel panel-info">
                <div class="panel-heading">➕ Ajouter un Employé</div>
                <div class="panel-body text-center">
                    <p>   Ajouter un nouvel employé et ses images faciales.  </p>
                    <a class="btn btn-info" href="{% url 'ajouter_employe' %}">Ajouter</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
