{% extends 'serveur/base.html' %}

{% block title %}Page d'Accueil{% endblock %}

{% block content %}
<h1>Bienvenue sur l'Application de Gestion des Employés</h1>
<p>Utilisez le menu de navigation pour accéder à différentes fonctionnalités de l'application :</p>
<ul>
    <li><a href="{% url 'employe_list' %}">Liste des Employés</a></li>
    <li><a href="{% url 'historique-acces' %}">Historique des Accès</a></li>
    <li><a href="{% url 'ajouter_employe' %}">Ajouter un Employé</a></li>
</ul>
{% endblock %}
