{% extends 'serveur/base.html' %}

{% block title %}Historique des accès{% endblock %}

{% block content %}
  <h1>Ajouter une image pour {{ employe.nom }}</h1>

  {% if messages %}
    <div class="alert-messages">
      {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert">
          {{ message }}
        </div>
      {% endfor %}
    </div>
  {% endif %}

  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <label for="images">Choisissez une image :</label>
    <input type="file" name="images" multiple><br><br>
    <button type="submit">Téléverser l'image</button>
  </form>
{% endblock %}
